@font-face {
  font-family: 'Lato-Hairline';
  src: url('Lato-Hairline.woff') format('woff'),
       url('Lato-Hairline.ttf') format('truetype'),
       url('Lato-Hairline.svg#Lato-Hairline') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('Lato.eot');
  src: url('Lato.woff2') format('woff2'),
       url('Lato.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

