/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape),  Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 767px
*/

@media (min-width: 320px) and (max-width: 767px) {
    body {
        display: block;
    }

    /*Headers and Footers*/
    /*=================================================================================================================*/
    header {
        max-height: 60px;
        height: 10vh;
    }

    #logoContainer {
        left: calc(35vw - 50px);
    }

    #indicator {
        display: none;
    }

    footer {
        position: relative;
        height:60px;
        font-size: 1.2em;
    }


    /*Sections*/
    /*=================================================================================================================*/
    #about, #team, #contacts, section {
        position: relative;
        display: block;
        top: 0;
        overflow: hidden;
        width: 100vw;
        height:auto;
    }

    /*Home*/
    /*=================================================================================================================*/
    #home {
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), no-repeat center;
        height: auto;
    }

    .centered {
        margin-top: 10px;
        position: relative;
        top: 0;
        width: 100vw;
        left: 0;
    }

    #homeText {
        width: auto;
        text-align: center;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 0;
        left: 0;
    }

    .learn-more {
        position: relative;
        left: 25vw;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .learn-more > .modal {
        position: fixed;
        left: 0;
        margin: 0;
        height: auto;
    }

    .modal-body, .modal-row {
        margin: 0;
        width: auto;
        height: auto;
        left: 0;
    }

    .modal-column {
        width: auto;
        height: auto;
    }

    .model-name {
        height: auto;
    }

    .modal-image {
        height: auto;
        width: 20%;
        margin: 0;
        float: left;

    }

    .modal-p {
        height: auto;
        margin: 0;
        border: none;
    }

    /*Services*/
    /*=================================================================================================================*/
    #about {
        background: #1E6F94 no-repeat right center;
        background-size: 70% 100%;
        overflow: hidden;
        font-size: 1.2em;
        height: auto;
    }

    .Tabs {
        width: 100%;
        text-align: left;
        margin: 5% 0 0;
        z-index: 1;

    }

    .tab-heading{
        float: left;
        outline: none;
        cursor: pointer;
        width: 30vw;
        height: 60px;
        text-decoration: none;
        overflow: hidden;
        margin-left: 0;
        padding: 0;
        font-size: 100%;
        margin-top: 1%;
    }

    #btnResearch strong{
        word-spacing: normal;
    }
    .tab{
        margin-left: 1%;
        width: 100%;
        overflow: hidden;
        margin-right: 0;
    }
    .tab p {
        width:85vw;
        margin-left: 5vw;

    }
    .tab ul{
        width: 80vw;
    }
    /*Team*/
    /*=================================================================================================================*/
    .our-team{
        display: block;
        color: #1E6F94;
       margin-left: 10%;
        width: 80vw;
        font-size: 1.2em;
    }
    .our-team p{
        width: 100vw;
        padding: 0 15vw;
        text-align: justify;
    }

    .profile{
        display: block;
        width: 100vw;
        height: 30vw;
        margin-left: 0.5%;
    }

    .profile3{
        display: none;
    }

    .profileImageCircle {
        float: left;
        width: 30vw;
        height: 30vw;
        margin-left: 1%;
    }
    .teamMemberTitle{
        margin-right: 1%;
        text-align: center;
    }

    .btnBio {
        margin-top: 10px;
        border: solid 1px #1E6F94;
        background-color: #1E6F94;
        color: white;
        font-size: 0.80em;
        width: auto;
        height: 30px;
        font-weight: bold;
    }

    .btnBio:hover {
        background-color: #4ABEA9;
        border: solid 1px #4ABEA9;
        color: white;
    }
    .modal-left {
        color:#1E6F94;
    }
    .modal-left{
        overflow: hidden;
        float: left;
        border: hidden;
        width: 100%;
        margin-top: 3%;
        margin-left: 0;
        margin-right: 0;
        height: 90%;
        background-color: #F4E144;
    }

    .modal-left-content{
        margin:0;
        height:100%;
        width: 100%;
    }

    .modal-left-content p{
        padding: 1%;
        margin-left:0;
        height:89%;
        overflow: auto;
    }

    .modal-right{
        overflow: hidden;
    }

    .modal-left-subdiv {
        float: left;
        margin-left: 1%;
        width: 50%;
    }

    .model-right-subdiv {
        float: right;
    }

    .modal-right {
        display: none;

    }
    .modal-body h3 h4 h5 {
        margin-bottom: 0;
    }


    .modal-body h3 {
        font-size: 20px;
        margin-bottom: 0;
        margin-top: 2px;
    }

    .modal-body h4 {
        font-size: 18px;
        margin-bottom: 0;
        margin-top: 2px;
        font-weight: 500;
    }

    .modal-body h5 {
        font-size: 15px;
        margin-bottom: 0;
        margin-top: 2px;
        font-weight: 500;
    }

    /*Clients*/
    /*=================================================================================================================*/
    .row {
        margin: 0;

    }

    /*Resources*/
    /*=================================================================================================================*/
    #resources{
        height: 100vh;
    }
    .category {
        width: 100vw;
    }

    #resourcePreview {
        display: none;
    }

    #resourcesContainer {
        margin-left: 15vw;
        top: 280px;
    }

    .folder {
        width: 120px;
    }

    .resourceList {
        margin-left: 2vw;
    }

    .resource {
        margin-left: 30%;
    }

    #resourceGrid, .category, .folder {
        margin-left: 0;
    }

    /*</div>*/
    /*Contacts*/
    /*=================================================================================================================*/
    #contacts {
        display: block;
    }


    .contact-us{
        display: block;
        margin-top: 22vh;

    }
    #contacts h2{
        margin-bottom: 4px;
    }

    .contact-us form{
        width: 92vw;
        margin: 22% 1vw 0;
        height:auto;
    }

    input[type=text], select, textarea {
        padding: 6px;
        border-radius: 4px;
        box-sizing: border-box;
        resize: vertical;
        margin-bottom: 5px;
    }

    #message{
        height: 8%;
    }

    .contact-details{
        display: none;
    }
    .contact-details-mobile{
        margin-left: 3vw;
        color: white;
        display: block;
    }

    .contact-details-mobile ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    #map{
        display: none;
    }


    #map-mobile{
        display: block;
        width:100vw;
        margin-left: 0;
        margin-top: 1%;
        position:absolute;
        height:32vh;
    }

    #map-mobile iframe{
        width: 100vw;
        height: 32vh;
    }


}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

}
